<div class="card-body border border-primary rounded">
    <h5 class="card-title bg-primary text-white p-2">
      <p>Plate of vehicle: <%=@vehicle.plate%></p>
    </h5>
    <p class="card-text">
      <p>Time of arrive <%=@vehicle.created_at%></p>
      <p>Time of arrive <%=@vehicle.updated_at%></p>
      <p>Type of vehicle:<%=@vehicle.rate.type_vehicle%></p>
      <p>Rate for minute:<%=@vehicle.rate.rate%></p>
      <p>Total for pay:</p>
      
    </p>
  <div>