<tr>
<td><%=@vehicle.id%></td>
<td><%=link_to @vehicle.plate, vehicle_path(@vehicle), remote:true%></td>
<td><%=@vehicle.rate.rate%></td>
<td><%=@vehicle.rate.type_vehicle%>
<td><%=@vehicle.created_at%></td>
</tr>